@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Noto+Serif+SC:wght@400;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans SC", "system-ui", sans-serif;
  --font-serif: "Noto Serif SC", "Georgia", serif;
}

body {
  font-family: var(--font-sans);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #bbb;
}
